@page
@model EMR_HSV.Pages.frontdesk.Insurances.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron">
    <h1 class="text-center">Insurance Directory</h1>
</div>

<p class="text-center">
    <a asp-page="Create">Add Insurance</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Provider
            </th>
            <th>
                Contract #
            </th>
            <th>
                Group #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insurance[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insurance[0].Contact)
            </th>
            <th>
                Co-pay
            </th>
            <th>
                Effective Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Insurance) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Copay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EffectiveDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
